
# Lists in Python

**1. Lists store multiple items in a single variable. Items can be of different datatypes, but its ideal to store store same type of values in a variable. ex: storing marks**

**2. Lists are ordered collection of data items.**

**3. Lists items are stored in a square brackets and are seperated by commas.**

**4. Lists are changeable, we can alter them, so lists are mutable.**

In [2]:
marks = [10, 20, 30]

In [3]:
print(marks)

[10, 20, 30]

In [4]:
print(type(marks))

<class 'list'>

**1. List Index: each item in list has unique index starting from 0 (right) to n-1 (till left end), so items can be accssed by index no's**

In [5]:
print(marks[2])

30

In [6]:
print([marks[5]])

IndexError: list index out of range

In [7]:
marks = [10, 20, 30, 'harry', True]
print(marks[3])

harry

In [8]:
# negative indexing
print(marks[-3])

30

In [9]:
# avoid to use -ve indexing, do this instead, good practice
print(marks[len(marks) - 3])

30

In [10]:
if "harry" in marks:
    print("yes")
else:
    print("no")

yes

In [11]:
if "100" in marks:
    print("yes")
else:
    print("no")

no

In [12]:
print(marks[:])

[10, 20, 30, 'harry', True]

In [13]:
print(marks[2:])

[30, 'harry', True]

In [14]:
print(marks[:3])

[10, 20, 30]

In [15]:
print(marks[1:3])

[20, 30]

In [16]:
print(marks[: : -1])

[True, 'harry', 30, 20, 10]

In [17]:
print(marks[: : -2])

[True, 30, 10]

In [18]:
print(marks[: : 2])

[10, 30, True]

In [19]:
mark = [marks * 3]

In [20]:
print(mark)

[[10, 20, 30, 'harry', True, 10, 20, 30, 'harry', True, 10, 20, 30, 'harry', True]]

In [21]:
mark = [ i*i for i in range (4) if i%2 == 0]
print(mark)

[0, 4]

**2. Updating the list**

In [23]:
#mutable nature
l[2] = 75
print(l)

[20, 55, 75, 4]

In [22]:
#appending - adds at last
l = [20, 55, 70]
l.append(4)
print(l)

[20, 55, 70, 4]

In [25]:
l.extend((99, 'aman'))
print(l)

[55, 75, 4, 99, 'aman']

In [24]:
#deleting
del l[0:1]
#del l[2:3]
print (l)

[55, 75, 4]

In [26]:
# l2 -> false copy, ;3 -> true copy
# lists are reference types, while assigining variable storing address of a list created in memory; changes will reflect in originl

l2 = l
l3 = list(l2)

In [27]:
l2[2] = 44
print(l)
print(l2)

[55, 75, 44, 99, 'aman']
[55, 75, 44, 99, 'aman']

In [28]:
# by using 'list' on asssignng a list to var. will create a true copy; means changes will not reflect in original
l3[2] = 32
print(l)
print(l3)

[55, 75, 44, 99, 'aman']
[55, 75, 32, 99, 'aman']

In [29]:
l.index(44)

2

In [30]:
l.extend((20, 67, "Shivam"))
print(l)

[55, 75, 44, 99, 'aman', 20, 67, 'Shivam']

In [31]:
l.insert(3, 100)
print(l)

[55, 75, 44, 100, 99, 'aman', 20, 67, 'Shivam']

In [32]:
l.pop()
print(l)

[55, 75, 44, 100, 99, 'aman', 20, 67]

In [ ]:
elm = l.pop(8)
print(elm)

In [35]:
print(l)

[55, 75, 44, 100, 99, 'aman', 20, 67]

In [36]:
#removes first occurence
l.remove(20)
print(l)

[55, 75, 44, 100, 99, 'aman', 67]

In [37]:
l.count(44)

1

In [38]:
l.reverse()
print(l)

[67, 'aman', 99, 100, 44, 75, 55]

In [39]:
# in sorting, value must be of same type, else error
mark = [55, 77, 12, 3, 89,  55]
mark.sort()
print(mark)

[3, 12, 55, 55, 77, 89]

In [40]:
#concatenation
print(mark + marks)

[3, 12, 55, 55, 77, 89, 10, 20, 30, 'harry', True]

In [41]:
# we can also craete a copy by 'copy' keyword
l4= [10, 20, 30]
l5 = l4.copy()
print(l4)
print(l5)

[10, 20, 30]
[10, 20, 30]

In [42]:
l5.append(100)
print(l4)
print(l5)

[10, 20, 30]
[10, 20, 30, 100]

In [43]:
#creating empty list
l6 = list()

In [44]:
l6.append(25)

l6.append(25)

l6.append(30)

print(l6)

[25, 25, 30]

In [10]:
#craeting list from string and tuple
name1 = tuple("harry")
l7 = list("harry")
l8 = list(name1)

In [11]:
l7

['h', 'a', 'r', 'r', 'y']

In [12]:
l8

['h', 'a', 'r', 'r', 'y']

**Difference between clear and del**

**clear - empties the list**

**delete - deletes the list from memory**

In [13]:
l8 = l7.copy()
print(l7)
print(l8)

['h', 'a', 'r', 'r', 'y']
['h', 'a', 'r', 'r', 'y']

In [16]:
l7.clear()
print(l7)

[]

In [17]:
del l8
print(l8)

NameError: name 'l8' is not defined

In [3]:
l8 = [2, 4, 6, 8]
print(l8);

[2, 4, 6, 8]

In [4]:
l9 = l8
print(l8)
print(l9)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [5]:
l8[2] = 5
print(l8)
print(l9)

[2, 4, 5, 8]
[2, 4, 5, 8]

In [6]:
l9 = l8.copy()
l8[2] = 7
print(l8)
print(l9)

[2, 4, 7, 8]
[2, 4, 5, 8]