# Tuples:

**Very similar to lists**

**1. Tuples are ordered collection of data items.**

**2. They can store multiple items in a single variable**

**3. Tuples items are seperated by comma and enclosed within round brackets - ()**

**4. Tuples are unchangeable. Immutable - can't alter its 'values or length once after creation**

**1. Creating tuple**

In [1]:
t = (2, 5, "aman", 10, True, 'verma')
print(t)

(2, 5, 'aman', 10, True, 'verma')

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
#creating tuple from list and string using tuple() -> constructor function
l = [2, 4, 6, 8]
s = "hello sab loh"
t1= tuple(l)
t2 = tuple(s)
print(t1)
print(t2)

(2, 4, 6, 8)
('h', 'e', 'l', 'l', 'o', ' ', 's', 'a', 'b', ' ', 'l', 'o', 'h')

**2. Accessing the tuple elements:**

In [4]:
print(t[2])

aman

In [5]:
print(t[:])

(2, 5, 'aman', 10, True, 'verma')

In [6]:
print(t[:3])

(2, 5, 'aman')

In [8]:
print(t[::-1])

('verma', True, 10, 'aman', 5, 2)

In [9]:
print(t[::-2])

('verma', 10, 5)

In [10]:
print(t[len(s)::-2])

('verma', 10, 5)

In [11]:
print(t[-4:-1])

('aman', 10, True)

**3. Updating the tuple**

In [12]:
#Method 1: Convert to list
t2 = list(t)
t2[1] = "neha"
t3 = tuple(t2)
print(t2)
print(t3)

[2, 'neha', 'aman', 10, True, 'verma']
(2, 'neha', 'aman', 10, True, 'verma')

In [16]:
#Method 2 : craete a new tuple from existing tuple
t2 = t[:3] + (2, 56)
print(t)
print(t2)

(2, 5, 'aman', 10, True, 'verma')
(2, 5, 'aman', 2, 56)

**3. Deletion in tuple**

In [23]:
t2 = t
print(t2)

(2, 5, 'aman', 10, True, 'verma')

In [24]:
#Method 1: By convert to list, the apply any delete func.
t2 = list(t2)
print(t2.remove('aman'))
print(tuple(t2))

None
(2, 5, 10, True, 'verma')

In [ ]:
#Method 2: create a new tuple from existing tuple by removing the unwanted part
t3 = t2[:4] + (9, 0)
print(t3)

In [29]:
#Method 3: del keyword -> to delete whole tuple at once, not support delet by slicing as tuple is immutable
t2 = (2, 4, 6, 7)
del t2

In [30]:
print(t2)

NameError: name 't2' is not defined

**4. Unpack the tuple, for updation and deletion**

In [31]:
print(t)

(2, 5, 'aman', 10, True, 'verma')

In [32]:
#updation
(a,b,c,d,e,f) = t
c = "mahesh"
t = (a,b,c,d,e,f)
print(t)

(2, 5, 'mahesh', 10, True, 'verma')

In [33]:
#deletion
(a,b,c,d,e,f) = t
t = (a,b,d,e,f)
print(t)

(2, 5, 10, True, 'verma')

**5. Loop in tuple**

In [34]:
for i in t:
    print(i)

2
5
10
True
verma

**note: by converting the tuple into a list, we can apply many more functions on it, the again convert it to tuple, as tuple supports limited functions**