# Tuples

**Very similar to lists**

**1. Tuples are ordered collection of data items.**

**2. They can store multiple items in a single variable**

**3. Tuples items are seperated by comma and enclosed within round brackets - ()**

**4. Tuples are unchangeable. Immutable - can't alter its 'values or length' once after creation**

In [2]:
tup = (2, 6, 9)
print(tup)
print(type(tup))

(2, 6, 9)
<class 'tuple'>

In [22]:
#indexing is same like lists
print(tup[2])

9

In [5]:
# tuples are immutable
tup[2] = 10

TypeError: 'tuple' object does not support item assignment

In [6]:
len(tup)

3

In [7]:
tup.index(6)

1

In [11]:
tup.count(6)

1

In [41]:
#creating tuple from string
tup2 = tuple('Harry')

In [42]:
#creating tuple from list
tup3 = tuple([12, 24, 36])
print(tup3)

(12, 24, 36)

In [43]:
#creating empty tuple
tup4 = tuple()

In [44]:
print(tup2)

('H', 'a', 'r', 'r', 'y')

In [45]:
max(tup2)

'y'

In [46]:
min(tup)

2

**One way to make change in a tuple is by: unpack the tuple items into independent variables, then pack them again into a tuple**

In [47]:

(v,w,x,y,z) = tup2
print(v,x,z)

H r y

In [48]:
x = 'c'

In [49]:
tup2 = tuple((v,w,x,y,z))

In [50]:
tup2

('H', 'a', 'c', 'r', 'y')

In [51]:
l = list(tup2)

In [59]:
l.append(15)
print(l)
print(type(l))

['H', 'a', 'c', 'r', 'y', 15, 15, 15]
<class 'list'>

**as tuple have limited functions only, due to its immutable nature, but we can apply similar other list functions on opened tuple / unpacked tuple, then wrapping it into the tuple again**

In [61]:
tup2 = tuple(l)
tup2
print(type(tup2))

<class 'tuple'>